<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Редактирование абонента</title>
    </head>
<body>
<h2>Редактирование абонента</h2>
<form action="#" th:action="@{/pb/ab-update}" th:object="${abonent}" method="post">
    <table>
        <tbody>
        <tr>
            <td><label for="id">ID</label></td>
            <td><input readonly type="number" th:field="*{id}" id="id" placeholder="ID"></td>
        </tr>
        <tr>
            <td><label for="firstName">Имя</label></td>
            <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"></td>
        </tr>
        <tr>
            <td><label for="lastName">Фамилия</label></td>
            <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"></td>
        </tr>
        <tr>
            <td><label for="firstName">Номер</label></td>
            <td><input type="text" th:field="*{phone}" id="phone" placeholder="phone"></td>
        </tr>
        <tr>
            <td><label for="lastName">Адрес</label></td>
            <td><input type="text" th:field="*{address}" id="address" placeholder="address"></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>